* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  body {
    min-height: 100vh;
    margin: 0;
    font-size: 16px;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-between;
    min-height: 65vh;
  }

  main div {
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 20px;
  }

  main div h2 {
    padding-bottom: 20px;
  }

  #services ul li {
    list-style: none;
  }

  #about {
    width: 100%;
  }

  #services {
    width: 100%;
  }

  #contact {
    width: 100%;
  }

  footer {
    background-color: #0A2647;
    color: white;
    font-weight: 500;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 600px) {
    main div {
      width: 48%;
    }
  }

  @media (min-width: 768px) {
    main div {
      width: 30%;
    }
  }